name: Testar noturno

on:
  schedule:
    - cron: '0 23 * * *'
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout código
        uses: actions/checkout@v4ß