name: Testar noturno

on:
  schedule:
    - cron: '0 23 * * *'
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout c贸digo
        uses: actions/checkout@v4
      - name: Imprimir o diret贸rio atual
        run: |
          echo "Diret贸rio atual:"
          pwd  # Imprime o diret贸rio atual
      - name: Configurar ambiente Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Instalar depend锚ncias
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
      - name: Executar testes
        run: |
          cd app/
          python -m unittest testeapp.py
        continue-on-error: false
      - name: Notificar falha no Discord
        if: failure()
        run: |
          curl -H "Content-Type: application/json" \
               -X POST \
               -d '{"username": "GitHub Actions", "content": " **Os testes falharam!** Verifique os logs no GitHub Actions."}' \
               ${{ secrets.DISCORD_WEB_HOOK }}
                - name: Docker Login
      - name: Docker Login
        run: |
          echo ${{ secrets.DOCKERHUB_TOKEN }} | docker login --username ${{ secrets.DOCKERHUB_USER }} --password-stdin

      - name: Build Docker image
        run: docker build ../ -f Dockerfile -t leogloriainfnet/app-python:latest
      - name: Push Image
        run: docker push leogloriainfnet/app-python:latest